<?xml version="1.0" encoding="UTF-8"?>


<configuration>
	
	<appender name="CONSOLE_OUTPUT"
		class="ch.qos.logback.core.ConsoleAppender">
		
		<encoder>
			
			<pattern>
				
				%d{HH:mm:ss} [%level] %logger &gt; %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<root level="debug">
		
		<appender-ref ref="CONSOLE_OUTPUT"></appender-ref>
	</root>
</configuration>